n8n Project/02 - Sentiment Analysis Agent.json
{
  "name": "02 - Sentiment Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Feedback\": null,\n  \"Name\": null,\n  \"Timestamp\": null\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2bd81087-02d6-4925-92ca-a84c7083c94f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "d4ddb985-2da2-4aee-ab45-2bf5f213ffc9",
      "name": "Wait",
      "webhookId": "32e9647c-2f0c-4aa2-a400-145405e8514a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a328741-2f38-4ef8-9599-13b8f0121cea",
              "name": "name",
              "value": "={{ $('Edit Fields').item.json.name }}",
              "type": "string"
            },
            {
              "id": "3b4d7bb9-0ee8-4da7-960b-eacd8610144f",
              "name": "timestamp",
              "value": "={{ $('Edit Fields').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "cd0b0cee-2e1a-4394-a312-6608f75207fc",
              "name": "sentiment",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "183d432a-19be-4883-b02f-6589ea29e382",
      "name": "Extract Sentiment"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=System: You are a sentiment analysis assistant. Respond with one word: Positive, Negative, or Neutral.\nUser: {{ $json.feedback }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        0
      ],
      "id": "aae49ac5-3224-4e92-92b9-9ac9e4deb7c5",
      "name": "Analyze Sentiment",
      "credentials": {
        "openAiApi": {
          "id": "b84LgFIJzNuxMiSE",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "155uxKb5K1n9tJE5cXZGIrHOiD2cbwkYWrVZ2gZGg8Zc",
          "mode": "list",
          "cachedResultName": "UnFeedback_Form_Responsestitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/155uxKb5K1n9tJE5cXZGIrHOiD2cbwkYWrVZ2gZGg8Zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1249833757,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/155uxKb5K1n9tJE5cXZGIrHOiD2cbwkYWrVZ2gZGg8Zc/edit#gid=1249833757"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ $json.sentiment }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "  Feedback  ",
              "displayName": "  Feedback  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1392,
        0
      ],
      "id": "4ef884df-12dd-42c4-8480-aade75584465",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZW0OotUuxpETwtgf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        0
      ],
      "id": "810e9f72-18b2-4062-a9f4-64f7266b0b4a",
      "name": "Wait1",
      "webhookId": "0387c2db-3a52-418d-80ed-53903637c7dd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71a1604e-9a80-4000-a061-e4141b824333",
              "name": "name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "43cdd003-57db-4a3d-8046-25df9e5f4278",
              "name": "feedback",
              "value": "={{ $json.Feedback }}",
              "type": "string"
            },
            {
              "id": "02032a78-360a-4355-be34-e96d288965ec",
              "name": "timestamp",
              "value": "={{ $json.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0685e3ab-d0b9-463f-9554-844b961929e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4IE0daPhJbvXttXo",
          "mode": "list",
          "cachedResultName": "step 3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Wait1').item.json.name }}",
            "Timestamp": "={{ $('Wait1').item.json.timestamp }}",
            "Feedback": "={{ $('Wait').item.json.feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1568,
        0
      ],
      "id": "efebb19a-ce8a-4e1c-8797-a91bfa740662",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17f061df-f2ca-4580-8496-f7dd88a37516",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f823d301e3815fa3adf876f1b62c2b0555fd048347dac9a0f30e3b537dfb01b"
  },
  "id": "weiz6KFQh7DkLWSs",
  "tags": []
}