n8n Project/03 - Workflow to detect error and problems.json
{
  "name": "03 - Workflow to detect error and problems",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Feedback\": \"The support was slow and unhelpful.\",\n  \"Name\": \"John\",\n  \"Timestamp\": \"2025-08-01T12:33:15.000Z\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "509069b4-31e6-4fc2-8a7c-e64fc4626383",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the key problems mentioned in the following customer feedback. Return them as bullet points only.\n\nFeedback: {{$json[\"Feedback\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "e71ab6ba-9929-404c-9e10-8b4bfde23b5a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "b84LgFIJzNuxMiSE",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a6a753-c601-49ca-8854-b60ee9011578",
              "name": "Problems",
              "value": "={{$json[\"message\"][\"content\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "87bf716e-ecaf-4f27-93c9-cb22205f45df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7J5T16YJX4vtRb1X",
          "mode": "list",
          "cachedResultName": "Step 4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Problems": "={{ $json.Problems }}",
            "Name": "={{ $('When Executed by Another Workflow').item.json.Name }}",
            "Timestamp": "={{ $('When Executed by Another Workflow').item.json.Timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Problems",
              "displayName": "Problems",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "d44a744e-8159-457a-83e2-1ab1e6faedb2",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42539242-9b8e-4fb2-bf38-9991f2922f34",
  "meta": {
    "instanceId": "6f823d301e3815fa3adf876f1b62c2b0555fd048347dac9a0f30e3b537dfb01b"
  },
  "id": "4IE0daPhJbvXttXo",
  "tags": []
}